# Eat Safe, Love

## Notebook Set Up

In [8]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [9]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [10]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [11]:
# review the collections in our database
print("Collections:", db.list_collection_names())

Collections: ['establishments']

In [12]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [13]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result

print("Count establishments that have a hygiene score equal to 20", establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Count establishments that have a hygiene score equal to 20 0
None

In [14]:
# Convert the result to a Pandas DataFrame
hygiene_over20_df = pd.DataFrame(establishments.find(query))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame", len(hygiene_over20_df))

# Display the first 10 rows of the DataFrame
hygiene_over20_df.head(10)

Number of rows in the DataFrame 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [17]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": {"$regex": "London", "$options":"i"},
    "RatingValue": {"$gte": 4}
}

# Use count_documents to display the number of documents in the result
print("Number of establishments in London with RatingValue equal to 4:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of establishments in London with RatingValue equal to 4: 0
None

In [20]:
# Convert the result to a Pandas DataFrame
london_high_rating_df = pd.DataFrame(establishments.find(query))

# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:", len(london_high_rating_df))
# Display the first 10 rows of the DataFrame
london_high_rating_df.head(10)

Number of rows in DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [19]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
penang_flavours = establishments.find_one({"BusinessName": "Penang Flavours"})
latitude = penang_flavours["geocode"]["latitude"]
longitude = penang_flavours["geocode"]["longitude"]

query = {
    "RatingValue": 5,
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
}

sort = [("scores.Hygiene", 1)]
limit = 5

# Print the results
top_5 = establishments.find(query).sort(sort).limit.(limit)

SyntaxError: invalid syntax (3510804407.py, line 6)

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame